@model List<tdcsp2020.Models.News>
@{
    ViewData["Title"] = "Minhas Viagens";
}

<div class="text-center">
    <h1 class="display-4">Minhas Viagens</h1>
</div>
<div class="row">
    <div id="carroseul" class="col">
        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <ul>
                    <li>
                        <img class="carroseulimage" src="~/img/imagem-1.jpg" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/img/imagem-2.jpg" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/img/imagem-3.jpg" />
                    </li>
                    <li>
                        <img class="carroseulimage" src="~/img/imagem-4.jpg" />
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
</div>

<div class="row">
    <div id="menu">
        <ul>
            <li>
                <div class="icon mysprite brasil"  ></div>
                Brasil
            </li>
            <li>
                <div class="icon mysprite alemanha"></div>
                Alemanha
            </li>
            <li>
                <div class="icon mysprite grecia"></div>
                Grecia
            </li>
            <li>
                <div class="icon mysprite eua"></div>
                EUA
            </li>
            <li>
                <div class="icon mysprite canada"></div>

                Canada
            </li>
            <li>
                <div class="icon mysprite argentina"></div>

                Argentina
            </li>
            <li>
                <div class="icon mysprite japao"></div>

                Japão
            </li>
            <li>
                <div class="icon mysprite italia"></div>

                Italia
            </li>
            <li>
                <div class="icon mysprite espanha"></div>

                Espanha
            </li>
            <li>
                <div class="icon mysprite portugal"></div>

                Portugal
            </li>
        </ul>
    </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        @if (item.Image != string.Empty)
                        {
                            <img class="card-img-top lazy" data-src="@item.Image" alt="@item.Title">
                        }
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="@item.Link" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a class="btn btn-sm btn-outline-secondary">Edit</a>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>